<!DOCTYPE html>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    h1 {
        background-color: #333;
        color: white;
        padding: 10px;
        text-align: center;
    }
</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person List</title>
</head>
<body>
    <h1>Person List</h1>

    <ul>
        {% for person in persons %}
            <li>
                {{ person }}
                <a href="{{person.id}}">Details</a>
                <a href="{{person.id}}/delete">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>